<div nz-row [nzGutter]="16">
  <div nz-col [nzMd]="24">
    <nz-card>
      <ng-template #title> 百度地图</ng-template>

      <ng-template #extra>
        <nz-button-group [nzSize]="'small'">
          <button nz-button (click)="panTo()">
            <span>Change Center</span>
          </button>
          <button nz-button (click)="zoom()">
            <span>Change Zoom</span>
          </button>
        </nz-button-group>
        <button nz-button (click)="infoWindow()" [nzSize]="'small'">
          <span>new infomation window</span>
        </button>
      </ng-template>

      <ng-template #body>
        <abm-map #map [options]="options" (ready)="onReady($event)" style="height:700px;"></abm-map>
      </ng-template>
    </nz-card>
  </div>
</div>

<div style="width:0; height: 0; border-top: 30px solid red; border-right: 30px solid gray; border-bottom: 30px solid salmon; border-left: 30px solid orangered;"></div>

<div style="height: 100px; border: 1px solid greenyellow; text-align: center;" class="tt">
  <a>哈哈哈哈稍等返回</a>
  <a>哈哈哈哈稍等返回2</a>

</div>
