<div class="logo">
  <a [routerLink]="['/']">
    <img [ngClass]="{'expanded': !isCollapsed, 'collapsed': isCollapsed}" src="./assets/img/logo-full.svg" style="max-height:40px;" />
    <img [ngClass]="{'expanded': isCollapsed, 'collapsed': !isCollapsed}"  src="./assets/img/logo.svg" style="max-height:30px;" />
  </a>
</div>
<ul nz-menu [nzMode]="isCollapsed?'vertical':'inline'">
  <li nz-submenu>
    <span title><i class="anticon anticon-user"></i><span class="nav-text">User</span></span>
    <ul>
      <li nz-menu-item>Tom</li>
      <li nz-menu-item>Bill</li>
      <li nz-menu-item>Alex</li>
    </ul>
  </li>
  <li nz-submenu>
    <span title><i class="anticon anticon-team"></i><span class="nav-text">Team</span></span>
    <ul>
      <li nz-menu-item>Team 1</li>
      <li nz-menu-item>Team 2</li>
    </ul>
  </li>
  <li nz-submenu>
    <span title><i class="anticon anticon-team"></i><span class="nav-text">Team2</span></span>
    <ul>
      <li nz-menu-item>Team 涂色书</li>
      <li nz-menu-item>Team 天天</li>
    </ul>
  </li>
  <li nz-submenu>
    <span title><i class="anticon anticon-team"></i><span class="nav-text">Team3</span></span>
    <ul>
      <li nz-menu-item>Team 啊啊</li>
      <li nz-menu-item>Team 哈哈</li>
    </ul>
  </li>
</ul>
